body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    color: #333;
    padding: 10px;
    gap: 15px;
}



input {
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #F0F2F5;
}

input:focus {
    outline: none;
    border-color: #14b8a6;
}

button{
    border-radius: 50px;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
}


button:hover{
    background-color: #14b8a6;
    color: white;
}

main{
    display: flex;
    justify-content: center;
}



